<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/output.css">
  <title>Home</title>
</head>

<body class="min-h-screen">
  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/public/index.html" class="-m-1.5 p-1.5">
            <img class="h-20 w-auto" src="../images/aniMatch.jpg" alt="">
          </a>
        </div>
        <div  class="hidden lg:flex lg:gap-x-12">
          <div id="nav-save" class="text-xl font-semibold leading-6 text-gray-900">Saved</div>
          <a href="/public/settings.html" class="text-xl font-semibold leading-6 text-gray-900">Settings</a>
        </div>

        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        </div>
      </nav>
    </header>

    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true">
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <a href="#" class="block">
            <section id="content-container">
              <img alt="Art"
                src="https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                class="h-64 w-full object-cover sm:h-80 lg:h-96" />
              <h3 class="mt-4 text-2xl font-bold text-gray-900 sm:text-3xl text-center">
                Lorem, ipsum dolor.
              </h3>
              <p class="mt-2 max-w-sm text-lg text-gray-700 text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni reiciendis
                sequi ipsam incidunt.
              </p>
          </a>
          </section>
          <div id="btn-container" class="absolute bottom-0 left-0 right-0 flex justify-center mb-8">
            <button id="passBtn" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4">
              Pass
            </button>
            <button id="saveBtn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="../js/animeFetch.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>